.Notifications,
.menuItem {
  padding: 1rem;
  position: relative;
  margin: 0.5rem;
}

.Notifications {
  border: 1px dashed #e1354b;
  margin-top: 0;
  background-color: white;
}

.menuItem {
  margin-bottom: 0;
}

ul li[data-notification-type='default'] {
  color: blue;
}

ul li[data-notification-type='urgent'] {
  color: red;
}

.notifications-wrapper {
  position: absolute;
  right: 12px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
