.Notifications {
  border: 1px dashed #e1354b;
  padding: 1rem;
  position: relative;
  margin: 1rem;
}

ul li[data-notification-type='default'] {
  color: blue;
}

ul li[data-notification-type='urgent'] {
  color: red;
}
